body{
	font-size: 200%;
	font-family: 'BPG Ingiri Arial';
}
* {
	box-sizing: border-box;
}
#logo{
	display: inline-block;
	float: left;
	width: 200px;
}
nav{
	display: inline-block;
	line-height: 90px;
	float: right;
	width: 80%;
	height: 90px;
}
li{
	display: inline-block;
	padding-right: 10px;
}
ul li a{
	color: blue;
}
.blue{
	color: #BDCCD4;
}
#logo img{
	width: 200px;
}
a {
	text-decoration: none;
	color: inherit;
}
header{
	padding: 30px 0px;
	max-width: 1300px;
	margin: auto;
	font-family: ;
}
.container-space {
	display: block;
	margin: auto;
	padding: 50px 65px;
	max-width: 1300px;
} 
.clear{
	clear: both;
}
#new{
	background-color: #BDCCD4;
}
.news{
	float: left;
	width: 25%;
	padding: 1%;
}
.news a{
	display: block;
	background-color: #E6E6E6;
	padding-left: 20px;
	position: relative;
	bottom: 10px;
	color: #83939B;	
	font-family: 'BPG LE Studio 02 Caps'  
}
.news img{
	width: 100%;
}
button{
	background-color: #83939B;
	color: white;
	padding: 10px 30px;
}
.fot{
	display: flex;
	justify-content: space-between;
	font-size: 40%;
	font-family: 'BPG LE Studio 02 Caps';
}